<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index, follow">
    <meta name="description" content="A Jack of all trades in Seattle, the best home repairs, all types of work, plumbing work">
    <meta property="og:title" content="Handmade by Semion">
    <meta property="og:description" content="A Jack of all trades in Seattle, the best home repairs, all types of work, plumbing work">
    <meta property="og:image" content="/img/og_image.png">
    <meta property="og:url" content="<%= protocol + "//" + host %>">
    <meta property="og:site_name" content='<%= protocol + "//" + host %>'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/og_image.ico" type="image/x-icon">

    <title>Projects</title>
       <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M0B11678HW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M0B11678HW');
</script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WNFG7KT3');</script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNFG7KT3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <div class="container-lg">
            <div class="b_header__container">
                <div class="b_logo__container">
                    <div class="b_logo__img">
                        <img src="/img/hammer.png" alt="hammer">
                    </div>
                    <div class="b_logo_text">
                        Semion Handmade
                    </div>
                </div>
                <div class="b_menu__container">
                    <div class="b_menu__row">
                        <ul class="b_menuLinks"> 
                            <li ><a href="/">about</a></li>
                            <li class="m-active"><a href="/projects/">projects</a></li>
                            <li><a class="i-modal" href="#contactMe">contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="b_portfolio__header">
                <div class="b_portfolio__text">
                    All projects
                </div>
                <div class="b_portfoliio__filter">
                    <%  let shortString;
                    if (apiData.selected_skill.length > 25) {
                        shortString = apiData.selected_skill.slice(0, 23)
                        shortString += '...'
                    } else {
                        shortString = apiData.selected_skill
                     } %>
                    <%=apiData.selected_skill !== '' ? shortString : 'Filter by Tag' %>
                    <div class="b_filter__list">
                        <ul>
                            <li><a href="/projects/">All projects</a></li>
                            <% tagData.all_skills.forEach((tag) => { %>
                                <li id="tagItem"><a href="/projects/?tag=<%= tag.slug %>"><%=tag.skill%></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="b_cardList__grid">
                <% apiData.forEach((project) => {%>
                     <div class="b_cardItem">
                        <div class="b_card_img"><a href="/projects/<%=project.slug %>/"><img src="<%=project.head_photo %>" alt="<%=project.project_name %>"><div class="b-mask"></div><span class="d-inline position-absolute">Learn more</span></a></div>
                        <div class="b_card__description">
                            <div class="b_card__title">
                                <a href="/projects/<%=project.slug %>/"><%=project.project_name %></a>
                            </div>
                            <div class="b_card__text">
                                <% if (project.preview_description.length > 150) { 
                                    let shortStr = project.preview_description.slice(0, 150)
                                    shortStr += '...';
                                    %>
                                <%=shortStr%>
                                <% } else { %>
                                <%= project.preview_description%>
                                <% }%>
                            </div>
                        </div>
                    </div>
               <% }); %>
            </div>
            <div class="b-btn_show_more" data-hidden="<%=isHidden %>">
                <div class="b_btn show_more">show more</div>
            </div>
          
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="b_footer__container">
                <div class="b_footer_rights">
                    all rights reserved 2023
                </div>
                <div class="b_footer__contacts">
                    <% if (contactsApiData.contacts.length !== 0){ %>
                    <div class="b_footer__email">
                       
                        <a href="tel:<%= contactsApiData.contacts[0].phone %>"> <%= contactsApiData.contacts[0].phone %></a>
                    </div>
                    <div class="b_footer__phone">
                        <a href="mailto:<%= contactsApiData.contacts[0].email %>"><%= contactsApiData.contacts[0].email %></a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="modals">
            <div class="b_modal modal " id="contactMe">
                <div class="container">
                    <div class="b_modal_body">
                        <div class="b_modal_title">
                            Contact me!
                        </div>
                        <div class="b_modal_contactFrom">
                            <div class="b_modal_form">
                                <div class="b_contact_title">
                                    Submit a request
                                </div>
                                <form action="#" id="form_contact_us">
                                    <div class="form_control">
                                        <select name="skill_selection" id="skill_selection">
                                            <% additionalApiData.all_work_dir.forEach((dir) => { %>
                                                <option value="<%= dir.name %>"><%= dir.name %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form_control">
                                       
                                        <input type="text" required name="user_name" id="user_name">
                                        <label for="user_name">Your name</label>
                                    </div>
                                    <div class="form_control">
                                        
                                        <input type="text" required name="user_contact" id="user_contact">
                                        <label for="user_contact">Your credits</label>
                                    </div>
                                    <div class="form_control">
                                       
                                        <textarea name="user_message" required id="user_message" pattern="\/"></textarea>
                                        <label for="user_message">Message</label>
                                    </div>
                                   
                                    <button class="b_btn" type="submit">Submit a request</button>
                                </form>
                            </div>
                            <% if (contactsApiData.contacts.length !== 0){ %>
                            <div class="b_modal_contactInfo">
                                <div class="b_contact_title">
                                    My Contacts:
                                </div>
                                <ul>
                                    <li>Email: <a href="mailto:<%= contactsApiData.contacts[0].email %>"><%= contactsApiData.contacts[0].email %></a></li>
                                    <li>Phone: <a href="tel:<%= contactsApiData.contacts[0].phone %>"><%= contactsApiData.contacts[0].phone %></a></li>
                                </ul>
                               
                            </div>
                            <% } %>
                        </div>
                        <div class="b_modal_closeX"></div>
                    </div>
                </div>
            </div>
            <div class="b_modal modal" id="successMessage">
                <div class="container">
                    <div class="b_modal_body"> 
                        <div class="b_about__title mt-lg-0">Your message has been successfuly sent</div>
                        <div class="b_modal_closeX"></div>
                    </div>
                </div>
            </div>
            <div style="z-index: 10000; text-align:center; padding-top: 20%" class="b_modal modal" id="loader">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" id="loaderSVG">
                    <circle cx="50" cy="50" r="40" fill="none" stroke="#ffffff" stroke-width="10">
                      <animate attributeName="stroke-dasharray" from="0 251.2" to="251.2 0" dur="1.5s" repeatCount="indefinite"></animate>
                      <animate attributeName="stroke-dashoffset" from="0" to="-251.2" dur="1.5s" repeatCount="indefinite"></animate>
                    </circle>
                      
                  </svg>
            </div>
        </div>
    </footer>
        <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
</body>
</html>